{% extends 'grievance/base.html' %}
{% block content %}
{% include 'grievance/navbar.html' %}
<style>
    .btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
    border-radius:5px
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
}
</style>

<div class='container '>
    <br>
    <div class="card">
        <center><h2 class='mb-4 mt-4'><i class="fas fa-cogs"></i> Who made this website?</h2></center>
        <ul class="" style="list-style-type:initial;">
            <li>This website is made with <i class='fa fa-heart' style="color:red"></i> by <strong>Sanay Shah</strong> and <strong>Shivesh Jha</strong>.</li><br>
            <li>We are computer engineering students from Dwarkadas J Sanghvi College Of Engineering, Mumbai.</li><br>
            <li><a class='btn btn-linkedin' href='https://www.linkedin.com/in/sanay-shah-45b973194/'><i class="fab fa-linkedin-in"></i> @Sanay Shah</a>&ensp; <a class='btn btn-linkedin' href='https://www.linkedin.com/in/shivesh-jha-b74b46198/'><i class="fab fa-linkedin-in" aria-hidden="true"></i> @Shivesh Jha</a></li><br>
            <li>If you have any cool ideas to add to the website, mail us or connect on LinkedIn.</li>
        </ul>
    </div>

    <footer class="page-footer font-small cyan darken-3" style="text-align: center;margin-top: 30px;">
        <!-- Footer Elements -->
        <div class="container card" style="padding-top: 15px;">
            <h2><i class="fas fa-link"></i> Connect with us</h3><br>
      <div class="row pb-2" >
        <div class="col-md-6 col-6">
          <h7 style="font-weight: bold;padding: 10px;">Sanay Shah</h7><br>
          <!-- Github -->
          <a class="tw-ic" href='https://github.com/Sanayshah2'  title="Github">
            <i class="fab fa-github" style="padding: 10px; color: black;"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href='mailto:sanayshah2@gmail.com'  title="Gmail">
            <i class="fas fa-envelope" style="padding: 10px;color: rgba(255, 0, 0, 0.623);"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href='https://www.linkedin.com/in/sanay-shah-45b973194/' style="color:#0E76A8"  title="LinkedIn">
            <i class="fab fa-linkedin-in " style="padding: 10px;"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href='https://www.instagram.com/sanayy3/' style='color:#DD2A7B'  title="Instagram">
            <i class="fab fa-instagram " style="padding: 10px;"> </i>
          </a>
      </div><br>
        <div class="col-md-6 col-6" style="margin-bottom: ;">
          <h7 style="font-weight: bold;padding: 10px;">Shivesh Jha</h7><br>        
          <!-- Github -->
          <a class="tw-ic" href='https://github.com/ShiveshJha12' title="Github">
            <i class="fab fa-github " style="padding: 10px;color: black;"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href='mailto:shubjha12@gmail.com' title="Gmail">
            <i class="fas fa-envelope " style="padding: 10px;color: rgba(255, 0, 0, 0.623);"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href='https://www.linkedin.com/in/shivesh-jha-b74b46198/' style="color:#0E76A8"  title="LinkedIn">
            <i class="fab fa-linkedin-in " style="padding: 10px;"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic"  href='https://www.instagram.com/_shivesh1212__/' style='color:#DD2A7B' title="Instagram">
            <i class="fab fa-instagram " style="padding: 10px;"> </i>
          </a>  
        </div>
      </div>
          <!-- Grid row-->
         
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
      
        
        <!-- Footer Elements -->
      
        <!-- Copyright --><br><br><br>
        <div class="footer-copyright text-center py-3" style="background-color: rgb(196, 196, 196); ">
          <span>Complain<span style="font-style: italic;">X</span></span><sup>&copy;</sup>
        </div>
        <!-- Copyright -->
      
      </footer>


</div>    
{% endblock content %}