{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'grievance/adminsidebar.html' %}
<div class="content">
 
    {% if messages %}
        {% for x in messages %}
                <div class="alert alert-custom  fade in alert-dismissable show" style="margin-top:18px;font-size: 20px; letter-spacing: 0.5px">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button><center>{{x}}</center>
                </div>
         {% endfor %}
         {% endif %}
<div class="container button1" style="margin-top: 30px;font-family:'Times New Roman', Times, serif;font-stretch: extra-expanded;line-height: 40px;margin-bottom: 20px;background-color: #dddddd">
  <h3 class="container" style="font-weight: bold;border-left: 5px solid rgb(241, 41, 41);color: black;margin-bottom: 30px;margin-left: 10px;font-family: 'Times New Roman', 'Times', serif;font-size: 26px;margin-top: 25px;">PROFILE :</h3>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Full Name :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{a.user.first_name}} {{a.user.last_name}}.</p></div>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Email :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{a.user.email}}.</p></div>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">College :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{a.college}}.</p></div>

<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Branch :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{a.branch}}.</p></div>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Designation :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{a.designation}}.</p></div>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Total Complaints :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{tcomplains}}</p></div>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Solved Complaints :</p><p style="float: left;font-size: 18px;margin-left: 10px;"> {{scomplains}}</p></div>
<div class="col-xs-12 col-md-6"><p style="font-size: 18px;font-weight: bold;float: left;">Rejected Complaints :</p><p style="float: left;font-size: 18px;margin-left: 10px;margin-bottom: 20px;"> {{rcomplains}}</p></div><br>

</div>
    <div class="container">
    <a class= 'button button2' style="text-decoration: none; background-color: rgb(241, 41, 41)" href='{% url 'admin_editprofile' %}'>Edit Profile</a>
    </div>
</div>
{% endblock %}
