<style>
    .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:lightgray;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}
    
.alert-custom{
  background-color: lightgray;
  color:black;
    }    
    
.sidebar h2 {
  display: block;
  color: white;
  padding: 15px;
  background-color: rgb(241, 41, 41);
  font-weight: bold;
}

/* Active/current link */
.sidebar a.active {
  background-color:palevioletred;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
<div class="" style="font-family: Perpetua;">

    <div class="sidebar">
        <h2 style="">Welcome, {{user.first_name}} {{user.last_name}}!</h2>
        <a  href={% url 'admindashboard' %}>Admin Dashboard</a>
        <a href={% url "password_change" %}>Change Password</a>
        <a href={% url 'adminProfileView' %}>My Profile</a>
        <a  href=href='myModal6969' data-toggle="modal" data-target="#myModal6969">Delete Account</a>
        <a  href='myModal69' data-toggle="modal" data-target="#myModal69">Log Out</a>
      </div>
</div>    

<!-- Modal -->
            <div class="modal fade" id="myModal69" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style='color: black'>Log Out</h4>
                  </div>
                  <div class="modal-body" style='color: black'>
                      Are you sure you want to Log Out?
                  </div>
                  <div class="modal-footer">
                    <a class="btn" data-dismiss="modal"  style="color: rgb(241, 41, 41)">Close</a>
                      <a href='{% url 'logout_view' %}'><button type="button" class="btn" style="color: rgb(241, 41, 41)">Log Out</button></a>
                  </div>
                </div>
              </div>
            </div>



<div class="modal fade" id="myModal6969" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style='color: black'>DELETE</h4>
                  </div>
                  <div class="modal-body" style='color: black'>
                      Are you sure you want to delete your account? You will lose it permanently.
                  </div>
                  <div class="modal-footer">
                    <a class="btn" data-dismiss="modal"  style="color: rgb(241, 41, 41)">Close</a>
                      <a href='{% url 'deleteadmin' %}'><button type="button" class="btn" style="color: rgb(241, 41, 41)">Delete</button></a>
                  </div>
                </div>
              </div>
            </div>