{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.admin.designation %}
{% include 'grievance/adminsidebar.html' %}
{% else %}
{% include 'grievance/studentsidebar.html' %}
{% endif %}

<div class="content">
        
        <h3 style="margin-top: 20px;font-weight: bold">Change Password</h2>
        <div style=';border-bottom: 3px solid {% if user.admin.designation %}red{% else %}#0D98BA{% endif %};margin-bottom: 40px;width: 40%;'></div>
        <form  method="POST">
            {% csrf_token %}
            {{form|crispy}}
        <button type="submit" class="btn btn-{% if user.admin.designation %}danger{% else %}primary{% endif %}" {% if not user.admin.designation %}style="background-color: #0D98BA; border-color: #0D98BA;"{% endif %}>Change Password</button>  <a href={% if user.admin.designation %}{% url 'adminProfileView' %}{% else %}{% url 'studentProfileView' %}{% endif %} class='btn btn-{% if user.admin.designation %}danger{% else %}primary{% endif %} ml-2' {% if not user.admin.designation %}style="background-color: #0D98BA; border-color: #0D98BA;"{% endif %}>Cancel</a>
    </form>
</div>
{% endblock content %}

style="background-color: #0D98BA; border-color: #0D98BA;"