{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 10px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
        <div class="" style="padding: 20px;background-color: whitesmoke;margin-top: 10%;border-radius: 10px;;text-align: center;border: 1px solid lightgray">
            {% if validlink %}
            <div style="padding: 10px;">
            <h2 style="padding: 20px;font-weight: bold;border-bottom: 2px solid #0D98BA;">Reset your Password</h2><br>
            <form method="POST">
 
         <div style="text-align: left;">
        {% csrf_token%}
        {{form|crispy}}<br>
        <div class='form-group'>
    <button class='btn btn-primary mb-2' type='submit' style="background-color: #0D98BA; border-color: #0D98BA;">Reset Password</button></div>
</div>
{% else %}
Invalid link, please check again.
{% endif %}
</form>
</div>
</div>
</div>
            
{% endblock content %}