{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="col-md-offset-4 col-md-4" style="margin-top: 50px;">
            <form method='POST'>
                <h2 style='margin-bottom: 50px'>Reset your password</h2>
                {% csrf_token%}
                {{form|crispy}}
                <div class='form-group'>
            <button class='btn btn-primary mb-2' type='submit'>Request Password Reset</button>
        </div>
        </form>
        </div>
            
{% endblock content %}
