{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'grievance/studentsidebar.html' %}
<style>
table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  letter-spacing: 0.5px
  
  
}
    

tr:nth-child(even) {
  background-color: lightgray;
  color: black;
}
tr:nth-child(odd) {
  background-color: white;
  color: black;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
        

        
        

      
<div class="content">
 
    <div class="container " style="padding-top: 20px;">
      <h3 class="container" style="margin-top: 15px;margin-bottom: 40px;padding-left: 10px;border-left: 5px solid black;color: royalblue;font-weight: bold;font-family: 'Times New Roman', 'Times', serif;">COMPLAIN HISTORY</h2>
        <table class="button1">
        <tr style="color: white;background-color: royalblue;">
          <th style="padding: 10px;font-size: 20px;">Complain title</th>
          <th style="padding: 10px;font-size: 20px;">To</th>
          <th style="padding: 10px;font-size: 20px;">Posted On</th>
          <th style="padding: 10px;font-size: 20px;">View details</th>
          <th style="padding: 20px;font-size: 20px;">Status</th>
          
        </tr>
        {% if complains %}
        {% for c in complains %}
        <tr>
          <td><p style="font-size: 15px;font-weight: bold;">{{c.complain_heading}}</p></td>
          <td><p style="font-size: 15px;">{{c.branch}} Department, {{c.college}}</p></td>
          <td><p style="font-size: 15px;">{{c.date_posted|date:"M d, Y"}}</p></td>
          <td><a href="/studentComplainView/{{c.id}}/">View</a></td>
          <td><p style="font-size: 15px;font-weight: bold;">{{c.status}}</p></td>
        </tr>
        {% endfor %}
        {% else %}
                  <tr >
                      <td colspan="5"><center><p class='text-muted'>No Complains to display</p></center></td>
                  </tr>
            {% endif %}    
            
        
      </table>
    </div>  


   
    
</div>
{% endblock content %}