{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'grievance/navbar.html' %}
<style>
.alert-custom{
  background-color: lightgray;
  color:black;
    }
    .btn{
      background-color: #0D98BA;
    }
  
</style>    


<div class="container">
    <h5 style="text-align: center;margin-top:10px;font-size: 15px;padding: 10px;background-color: rgb(99, 99, 99);color: whitesmoke;" class='alert alert-custom'>Complete your profile. This step is mandatory.</h5>
    <div class='row justify-content-center'>
    <div class="col-md-6 col-12" style="margin-top: 10px;">
      {% if messages %}
      {% for x in messages %}
              <div class="alert alert-custom  fade in alert-dismissable show " style="margin-top:18px;font-size: 15px;font-weight: bold;background-color: rgb(99, 99, 99);color: whitesmoke">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" style="font-size:20px">×</span>
                </button><center>{{x}}</center>
              </div>
       {% endfor %}
   {% endif %}
<div class="card" >
  <h3 style="font-weight: bold;padding-bottom: 15px;border-bottom: 2px solid #0D98BA ;text-align: center;">Complete Profile</h3>     
    <form method="POST">
        <div style="text-align: left;">
        {% csrf_token %}
        {{form|crispy}}
    </div>
        <button type="submit" class="btn btn-primary" style="border-color: #0D98BA;">Submit</button><br><br>
    </form>
   
</div>
</div>
</div>
{% endblock content %}