{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% include 'grievance/studentsidebar.html' %}
{% block content %}
<style>
.alert-custom{
  background-color: lightgray;
  color:black;
    }

    body{
      background-image: url('/static/grievance/images/back5.jpg')
    }
</style>    

<div class="container">    
    {% if messages %}
    {% for x in messages %}
            <div class="alert alert-custom  fade in alert-dismissable show" style="margin-top:18px;font-size: 20px; letter-spacing: 0.5px">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" style="font-size:20px">×</span>
              </button><center>{{x}}</center>
            </div>
     {% endfor %}
     {% endif %}
     <div class=" col-md-offset-3 col-md-6 button1" style="font-family: 'Times New Roman', Times, serif;background-color: lightgrey;padding: 20px;margin-top: 3%;margin-bottom: 3%;text-align: center;">
        <h2 style="padding: 15px;background-color:  royalblue;color: white;">Student Signup:</h2><hr>
        <form method="POST">
            <div style="text-align: left;">
            {% csrf_token %}
            {{form|crispy}}                
            </div>
            <button type="submit" class="button button2" style="background-color: royalblue;">Sign up</button><br><br>
            <small class="text-muted">Already registered? </small> <a href={% url "loginStudent" %}>Student Log In</a>
        </form>
    </div>
</div>
{% endblock content %}


