{% extends 'grievance/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'grievance/studentsidebar.html' %}
<style>

  table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
letter-spacing: 0.5px
}

tr:nth-child(even) {
  background-color: lightgray;
  color: black;
}
tr:nth-child(odd) {
  background-color: white;
  color: black;
}
  img{
    width: 150px;
    height: 150px;
  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
        

        
        

      <!-- Page content -->
      <div class="content">
          <h3 class=" container" style="padding-left: 7pxpx;font-weight: bold;border-left: 8px solid royalblue;font-size: 30px;margin-bottom: 15px;margin-top: 45px;font-family: 'Times New Roman', 'Times', serif;">STUDENT DASHBOARD</h3>
            {% if messages %}
                {% for x in messages %}
                        <div class="alert alert-custom  fade in alert-dismissable show container" style="margin-top:18px;font-size: 20px; letter-spacing: 0.5px">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" style="font-size:20px">×</span>
                          </button><center>{{x}}</center>
                        </div>
                 {% endfor %}
             {% endif %}
         

          <div class="container" style="text-align: center;padding-top: 5%;padding-bottom: 50px;border-bottom: 1px solid gray;font-family: 'Times New Roman', Times, serif;">
              <div class="row">
                <div class="col-md-4" >
                  <img src="{% static "grievance/images/solved.png" %}" class=""/>
                  <h1><span class="counter">{{s}}</span></h1>
                  <h3>Solved Complains</h3>
                  <i class="fa fa-users"></i>
                </div> 
                <div class="col-md-4" >
                  
                  <img src="{% static "grievance/images/rejected1.jpg" %}"/>
                  <h1><span class="counter">{{r}}</span></h1>
                  <h3>Rejected Complains</h3>
                  <i class="fa fa-desktop"></i>
                </div>
                <div class="col-md-4" >
                  <img src="{% static "grievance/images/icon-complaints.png" %}"/>
                  <h1><span class="counter">{{p}}</span></h1>
                  <h3>Pending Complains</h3>
                  <i class="fa fa-coffee"></i>
                </div>
               
              </div>
  
          <script>
  $('.counter').counterUp({
      delay: 10,
      time: 1000,
  });
          </script> 
            </div>
            <div class="container " style="padding-top: 20px;">
              <h3 class="" style="border-left: 5px solid royalblue;font-family: 'Times New Roman', Times, serif;padding-left: 15px;font-weight: bold;margin-bottom: 40px;"> SOLVED COMPLAINS : </h3>
              <table class="button1">
              <tr style="color: white;background-color: royalblue;">
                <th style="padding: 10px;font-size: 20px;">Complain title</th>
                <th style="padding: 10px;font-size: 20px;">To</th>
                <th style="padding: 10px;font-size: 20px;">Posted On</th>
                <th style="padding: 10px;font-size: 20px;">View details</th>
                <th style="padding: 20px;font-size: 20px;">Status</th>
                
              </tr>
                {% if scomplains %}
              {% for p in scomplains %}
              <tr>
                <td><p style="font-size: 15px;font-weight: bold;">{{p.complain_heading}}</p></td>
                <td><p style="font-size: 15px;">{{p.branch}} Department, {{p.college}}</p></td>
                <td><p style="font-size: 15px;">{{p.date_posted|date:"M d, Y"}}</p></td>
                <td><a href="/studentComplainView/{{p.id}}/">View</a></td>
                <td><p style="font-size: 15px;font-weight: bold;">{{p.status}}</p></td>
              </tr>
              {% endfor %}
            {% else %}
                  <tr >
                      <td colspan="5"><center><p class='text-muted'>No Complains to display</p></center></td>
                  </tr>
            {% endif %}
            </table>
          </div>  
          <div class="container " style="padding-top: 20px;">
            <h3 class="" style="border-left: 5px solid royalblue;font-family: 'Times New Roman', Times, serif;padding-left: 15px;font-weight: bold;margin-bottom: 40px;"> REJECTED COMPLAINS : </h3>
            <table class="button1">
            <tr style="color: white;background-color: royalblue;">
              <th style="padding: 10px;font-size: 20px;">Complain title</th>
              <th style="padding: 10px;font-size: 20px;">To</th>
              <th style="padding: 10px;font-size: 20px;">Posted On</th>
              <th style="padding: 10px;font-size: 20px;">View details</th>
              <th style="padding: 20px;font-size: 20px;">Status</th>
              
            </tr>
            {% if rcomplains %}
            {% for p in rcomplains %}
            <tr>
              <td><p style="font-size: 15px;font-weight: bold;">{{p.complain_heading}}</p></td>
              <td><p style="font-size: 15px;">{{p.branch}} Department, {{p.college}}</p></td>
              <td><p style="font-size: 15px;">{{p.date_posted|date:"M d, Y"}}</p></td>
              <td><a href="/studentComplainView/{{p.id}}/">View</a></td>
              <td><p style="font-size: 15px;font-weight: bold;">{{p.status}}</p></td>
            </tr>
            {% endfor %}
            {% else %}
                  <tr >
                      <td colspan="5"><center><p class='text-muted'>No Complains to display</p></center></td>
                  </tr>
            {% endif %}
            
          </table>
        </div> 
        <div class="container " style="padding-top: 20px;">
          <h3 class="" style="border-left: 5px solid royalblue;font-family: 'Times New Roman', Times, serif;padding-left: 15px;font-weight: bold;margin-bottom: 40px;"> VIEWED COMPLAINS : </h3>
          <table class="button1">
          <tr style="color: white;background-color: royalblue;">
            <th style="padding: 10px;font-size: 20px;">Complain title</th>
            <th style="padding: 10px;font-size: 20px;">To</th>
            <th style="padding: 10px;font-size: 20px;">Posted On</th>
            <th style="padding: 10px;font-size: 20px;">View details</th>
            <th style="padding: 20px;font-size: 20px;">Status</th>
            
          </tr>
            {% if vcomplains %}
          {% for p in vcomplains %}
          <tr>
            <td><p style="font-size: 15px;font-weight: bold;">{{p.complain_heading}}</p></td>
            <td><p style="font-size: 15px;">{{p.branch}} Department, {{p.college}}</p></td>
            <td><p style="font-size: 15px;">{{p.date_posted|date:"M d, Y"}}</p></td>
            <td><a href="/studentComplainView/{{p.id}}/">View</a></td>
            <td><p style="font-size: 15px;font-weight: bold;">{{p.status}}</p></td>
          </tr>
          {% endfor %}
            {% else %}
                  <tr >
                      <td colspan="5"><center><p class='text-muted'>No Complains to display</p></center></td>
                  </tr>
            {% endif %}      
          
        </table>
      </div> 

      <div class="container " style="padding-top: 20px;padding-bottom: 50px;">
        <h3 class="" style="border-left: 5px solid royalblue;font-family: 'Times New Roman', Times, serif;padding-left: 15px;font-weight: bold;margin-bottom: 40px;"> PENDING COMPLAINS : </h3>
        <table class="button1">
        <tr style="color: white;background-color: royalblue;">
          <th style="padding: 10px;font-size: 20px;">Complain title</th>
          <th style="padding: 10px;font-size: 20px;">To</th>
          <th style="padding: 10px;font-size: 20px;">Posted On</th>
          <th style="padding: 10px;font-size: 20px;">View details</th>
          <th style="padding: 20px;font-size: 20px;">Status</th>
          
        </tr>
            {% if pcomplains %}
        {% for p in pcomplains %}
        <tr>
          <td><p style="font-size: 15px;font-weight: bold;">{{p.complain_heading}}</p></td>
          <td><p style="font-size: 15px;">{{p.branch}} Department, {{p.college}}</p></td>
          <td><p style="font-size: 15px;">{{p.date_posted|date:"M d, Y"}}</p></td>
          <td><a href="/studentComplainView/{{p.id}}/">View</a></td>
          <td><p style="font-size: 15px;font-weight: bold;">{{p.status}}</p></td>
        </tr>
        {% endfor %}
            {% else %}
                  <tr >
                      <td colspan="5"><center><p class='text-muted'>No Complains to display</p></center></td>
                  </tr>
            {% endif %}    
        
      </table>
    </div> 


   
    
</div>
{% endblock %}